body{
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   line-height: 1.6;
   font-size: 18px;  
}
header{
           background: linear-gradient(135deg, #46c82c 0%, hsl(58, 73%, 55%) 97%);
            color: white;
            padding: 1rem 0;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);
        }
            
        .header-container{
            display: flex;
            align-content: space-between;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
        }
        .logo{
            font-size: 1.8rem;
            font-weight: bold;
            margin: 0 auto;
        }
        .logo h1{
           margin: 0;
           font-size: 30px;
           color: white;
           text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        }
nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 2rem;
            list-style: none;
            gap: 2rem;
        }
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hero {
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 50px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

.hero p {
    font-size: 24px;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.8);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
        height: 250px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: bold;
        transition: transform 0.3s;
        cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.img-grid{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #228B22;
    color: white;
}

footer{
    background-color: #1cc440;;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px
}
         